# Case Study - Country Club

In [1]:
import sqlite3
from sqlite3 import Error

In [2]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect('D:\\Data Science\\08 SQL\\sqlite_db_pythonsqlite.db')
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

In [23]:
def members_recommended(conn):
    """
    Prepare a report of all members and recommended by
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
FROM (
SELECT m1.surname, m1.firstname,  m2.firstname||' '|| m2.surname AS recommender
FROM Members AS m1
INNER JOIN Members AS m2 ON m1.recommendedby = m2.memid
WHERE m1.recommendedby <> ' '
UNION
SELECT m1.surname, m1.firstname, '' AS recommender
FROM Members AS m1
WHERE m1.recommendedby = ' ' AND m1.memid<>''
) AS report
ORDER BY surname, firstname;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [27]:
def revenue_more_than_thousand(conn):
    """
    Prepare a report of all facilities having revenue > 1000
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
FROM (

SELECT f.name, SUM(
CASE WHEN b.memid =0
THEN f.guestcost * b.slots
ELSE f.membercost * b.slots
END ) AS revenue
FROM Bookings AS b
LEFT JOIN Facilities AS f
USING ( facid )
LEFT JOIN Members AS m
USING ( memid )
GROUP BY f.facid
) AS r
WHERE revenue >1000
ORDER BY revenue DESC
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [33]:
def member_usage(conn):
    """
    Prepare a report of all facilities usage by members
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 ="""SELECT f.name, COUNT( b.bookid ) AS usage_count
FROM Facilities AS f
LEFT JOIN Bookings AS b ON f.facid = b.facid
WHERE b.memid <>0
GROUP BY f.facid"""
    
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [39]:
def member_monthly_usage(conn):
    """
    Prepare a report of all facilities usage by members per month
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 ="""SELECT f.name, strftime('%m', b.starttime ) AS
MONTH , COUNT( b.bookid ) AS usage_count
FROM Facilities AS f
LEFT JOIN Bookings AS b ON f.facid = b.facid
WHERE b.memid <>0
GROUP BY f.facid , strftime('%m', b.starttime )"""
    
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [40]:
def main():
    database = "sqlite\db\pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Produce a report of members and who recommended them in alphabetic surname,firstname order")
        members_recommended(conn)
        print("\n\n3. Produce a list of facilities with a total revenue less than 1000. The output of facility name and total revenue, sorted by revenue.")
        revenue_more_than_thousand(conn)
        print("\n\n4. Find the facilities with their usage by member, but not guests")
        member_usage(conn)
        print("\n\n5. Find the facilities usage by month, but not guests")
        member_monthly_usage(conn)

In [41]:
if __name__ == '__main__':
    main()

2.6.0
2. Produce a report of members and who recommended them in alphabetic surname,firstname order
('Bader', 'Florence', 'Ponder Stibbons')
('Baker', 'Anne', 'Ponder Stibbons')
('Baker', 'Timothy', 'Jemima Farrell')
('Boothe', 'Tim', 'Tim Rownam')
('Butters', 'Gerald', 'Darren Smith')
('Coplin', 'Joan', 'Timothy Baker')
('Crumpet', 'Erica', 'Tracy Smith')
('Dare', 'Nancy', 'Janice Joplette')
('Genting', 'Matthew', 'Gerald Butters')
('Hunt', 'John', 'Millicent Purview')
('Jones', 'David', 'Janice Joplette')
('Jones', 'Douglas', 'David Jones')
('Joplette', 'Janice', 'Darren Smith')
('Mackenzie', 'Anna', 'Darren Smith')
('Owen', 'Charles', 'Darren Smith')
('Pinker', 'David', 'Jemima Farrell')
('Purview', 'Millicent', 'Tracy Smith')
('Rumney', 'Henrietta', 'Matthew Genting')
('Sarwin', 'Ramnaresh', 'Florence Bader')
('Smith', 'Jack', 'Darren Smith')
('Stibbons', 'Ponder', 'Burton Tracy')
('Worthington-Smyth', 'Henry', 'Tracy Smith')


3. Produce a list of facilities with a total revenue less than 1000. The output of facility name and total revenue, sorted by revenue.
('Massage Room 1', 50351.600000000275)
('Massage Room 2', 14454.599999999995)
('Tennis Court 2', 14310)
('Tennis Court 1', 13860)
('Squash Court', 13468.0)
('Badminton Court', 1906.5)


4. Find the facilities with their usage by member, but not guests
('Tennis Court 1', 308)
('Tennis Court 2', 276)
('Badminton Court', 344)
('Table Tennis', 385)
('Massage Room 1', 421)
('Massage Room 2', 27)
('Squash Court', 195)
('Snooker Table', 421)
('Pool Table', 783)


5. Find the facilities usage by month, but not guests
('Tennis Court 1', '07', 65)
('Tennis Court 1', '08', 111)
('Tennis Court 1', '09', 132)
('Tennis Court 2', '07', 41)
('Tennis Court 2', '08', 109)
('Tennis Court 2', '09', 126)
('Badminton Court', '07', 51)
('Badminton Court', '08', 132)
('Badminton Court', '09', 161)
('Table Tennis', '07', 48)
('Table Tennis', '08', 143)
('Table Tennis', '09', 194)
('Massage Room 1', '07', 77)
('Massage Room 1', '08', 153)
('Massage Room 1', '09', 191)
('Massage Room 2', '07', 4)
('Massage Room 2', '08', 9)
('Massage Room 2', '09', 14)
('Squash Court', '07', 23)
('Squash Court', '08', 85)
('Squash Court', '09', 87)
('Snooker Table', '07', 68)
('Snooker Table', '08', 154)
('Snooker Table', '09', 199)
('Pool Table', '07', 103)
('Pool Table', '08', 272)
('Pool Table', '09', 408)